In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../_data/summary_with_pop.csv')

In [18]:
cols = [col.split(' ')[0] for col in df.columns]

In [20]:
df.columns = cols

### Quantifying CO2 emissions

Data from: https://www.visualcapitalist.com/visualising-the-greenhouse-gas-impact-of-each-food/

Units: kg CO2 equivalents per kg of product

In [15]:
emissions = {
    'beef': 60,
    'sheep': 24,
    'pig': 7,
    'poultry': 6,
    'maize': 1,
    'rice': 4,
    'soy': 0.9,
    'wheat': 1.4,
}

emissions = pd.Series(emissions)

In [23]:
MEATS = ['beef', 'pig', 'poultry', 'sheep']
PLANTS = ['maize', 'rice', 'soy', 'wheat']

In [45]:
emdf = df.copy()

In [46]:
for meat in MEATS:
    emdf[meat] = emdf[meat] * emdf.population * emissions.loc[meat]

In [47]:
for plant in PLANTS:
    emdf[plant] = emdf[plant] * emissions.loc[plant]

In [48]:
emdf['total'] = emdf[MEATS + PLANTS].sum(axis=1)

Final units:

 - `population`: millions
 - food: 1000 tons CO2 equivalents

In [50]:
emdf.to_csv('../_data/emissions.csv', index=False)

In [51]:
emdf

,country,year,population,beef,pig,poultry,sheep,maize,rice,soy,wheat,total
0,ARG,1990,32.580854,108609.580043,837.914403,1692.901174,1784.388212,7685.00,1164.160,10350.0,15451.8,147575.743832
1,ARG,1991,33.028546,102686.410085,835.093757,1759.760931,1860.431939,10701.00,946.560,10179.0,13998.6,142966.856712
2,ARG,1992,33.475005,102393.345294,1051.416432,2013.923251,1521.639827,10901.00,1993.760,9940.5,13994.4,143809.984804
3,ARG,1993,33.917440,105167.127859,1151.734510,3142.518651,1521.400689,10360.00,1653.760,10548.0,13631.8,147176.341709
4,ARG,1994,34.353066,100161.173352,1163.160462,3790.929539,1957.300288,11404.00,1652.640,10919.7,15968.4,147017.303642
...,...,...,...,...,...,...,...,...,...,...,...,...
952,ZAF,2014,54.166787,40901.340864,1275.898668,11084.474625,4254.909452,10629.00,8.004,853.2,2462.6,71469.427608
953,ZAF,2015,55.055626,43270.418698,1357.726793,11206.242339,3962.683737,8214.50,8.004,963.0,2028.6,71011.175567
954,ZAF,2016,55.946872,44081.659386,1352.683471,11396.377826,3970.437612,17551.00,8.004,667.8,2674.0,81701.962296
955,ZAF,2017,56.837474,41151.467925,1347.957533,11380.340069,3655.786328,13104.00,8.004,1184.4,2149.0,73980.955856
956,ZAF,2018,57.725606,40700.015766,1494.285037,12036.135205,3645.025665,11630.16,8.004,1386.0,2615.2,73514.825673